@charset "UTF-8";

@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'BMJUA';
}

html,
body,
#root,
#root > div {
  // overflow: hidden;
  font-family: 'BMJUA';
  height: 100%;
  background: radial-gradient(
    circle,
    #8140b4,
    #743ba7,
    #5e2a8e,
    #53157c,
    #3f1066,
    #310756
  );
}

/* abstract */
@import 'abstract/reset', 'abstract/utils', 'abstract/mixin';

/*  layout */
@import 'layout/grid';

/* atoms */
@import 'atoms/Button', 'atoms/Input', 'atoms/button', 'atoms/img',
  'atoms/content', 'atoms/modal', 'atoms/loader';

/* molecules */
@import 'molecules/FormInput', 'molecules/langbtn';

/* templates */
@import 'templates/reservation';
