@charset "UTF-8";

* {
  font-family: 'Jua', sans-serif;
}

html,
body,
#root,
#root > div {
  // overflow: hidden;
  font-family: 'Jua', sans-serif;
  height: 100%;
  background: radial-gradient(
    circle,
    #8140b4,
    #743ba7,
    #5e2a8e,
    #3f1066,
    #310756
  );
}

/* abstract */
@import 'abstract/reset', 'abstract/utils', 'abstract/mixin';

/*  layout */
@import 'layout/grid';

/* atoms */
@import 'atoms/Button', 'atoms/Input', 'atoms/button', 'atoms/img',
  'atoms/content', 'atoms/modal';

/* molecules */
@import 'molecules/FormInput';

/* templates */
@import 'templates/reservation';
