@import '../abstract/mixin';

.Button {
  &.resv {
    @include breakpoint(ss) {
      font-size: 0.7rem;
      width: 6rem;
      right: 1.7rem;
    }
    @include breakpoint(xs) {
      font-size: $small;
      right: 3rem;
      width: 7rem;
    }
    @include breakpoint(md) {
      font-size: $small;
      width: 8rem;
      right: 5rem;
    }
    @include breakpoint(xl) {
      font-size: 1.2rem;
      width: 9.5rem;
      right: 4rem;
    }
    cursor: pointer;
    position: absolute;
    padding: 0.55rem;
    right: 3rem;
    height: 2.23rem;
    text-align: center;
    border-radius: $form-border-radius;
    border: $form-border-status;
    background: $yellow;
  }
  &.lang {
    cursor: pointer;
    border: none;
    background: none;
    font-size: $medium;
    color: $white;
    padding: 0 0.5rem 0 0.5rem;
  }
}
