img {
  max-width: 25rem;
  position: relative;
  display: block;
  margin: 0 auto;
  height: auto;
  z-index: 1;
}

#cherry {
  animation: cherry 3s ease-in Infinite Alternate;
  @include breakpoint(xs) {
    display: none;
  }
  @include breakpoint(md) {
    display: block;
    width: 14rem;
    left: 18.6rem;
    top: 45.5rem;
    @keyframes cherry {
      0% {
        top: 47.7rem;
      }
      95% {
      }
      to {
        top: 39.5rem;
      }
    }
  }
  @include breakpoint(xl) {
    display: block;
    width: 14rem;
    left: 18.6rem;
    top: 47.7rem;
    @keyframes cherry {
      0% {
        top: 47.7rem;
      }
      95% {
      }
      to {
        top: 39.5rem;
      }
    }
  }
}

#jungle {
  animation: jungle 3s ease-in Infinite Alternate;
  @include breakpoint(xs) {
    display: none;
  }
  @include breakpoint(md) {
    display: block;
    width: 18rem;
    top: 10rem;
    right: 15rem;
    @keyframes jungle {
      0% {
        top: 8rem;
      }
      95% {
      }
      to {
        top: 13rem;
      }
    }
  }
  @include breakpoint(xl) {
    display: block;
    width: 18rem;
    top: 10rem;
    right: 15rem;
    @keyframes jungle {
      0% {
        top: 10em;
      }
      95% {
      }
      to {
        top: 13rem;
      }
    }
  }
}

#reward {
  width: 24rem;
  top: 5.5rem;
  right: 0rem;
}

#crystal {
  width: 5rem;
  top: 1.8rem;
  left: 9rem;
}
