img {
  width: 14rem;
  max-width: 25rem;
  position: absolute;
  height: auto;
  z-index: 1;
}

#cherry {
  right: 19.3em;
  top: 12.7rem;
}

#jungle {
  width: 18rem;
  top: 4rem;
  right: 51rem;
}

#reward {
  width: 25rem;
  top: 19.5rem;
  right: 32.5rem;
}

#crystal {
  width: 5rem;
  top: 27rem;
  right: 33rem;
}
