.Input {
  &.resv {
    @include breakpoint(ss) {
      width: 10rem;
      right: 2.5rem;
    }
    @include breakpoint(xs) {
      width: 7rem;
      right: 0.2rem;
    }
    @include breakpoint(xs) {
      width: 10rem;
    }
    @include breakpoint(md) {
      width: 13rem;
      left: 1rem;
    }
    position: relative;
    width: 15rem;
    padding: 0.8rem 0.5rem 0.8rem 1.4rem;
    border-radius: $form-border-radius;
    border: $form-border-status;
    font-size: $very-small;
  }
}
