@import '../abstract/utils';

.Input {
  &.resv {
    position: relative;
    width: 15rem;
    padding: 0.8rem 0.8rem 0.8rem 1.4rem;
    border-radius: $form-border-radius;
    border: $form-border-status;
    font-size: $very-small;
  }
}
