.loader {
  @include breakpoint(ss) {
    font-size: $small;
  }
  @include breakpoint(xs) {
    font-size: $big;
  }
  @include breakpoint(md) {
    font-size: 3rem;
  }

  @include breakpoint(xl) {
    font-size: 3rem;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-weight: $bold;
  letter-spacing: $medium;
  span {
    display: inline-block;
    margin: 0 -0.05em;
  }
}
.load {
  span {
    animation: load 0.7s infinite;
    @for $i from 1 through 6 {
      &:nth-child(#{$i + 1}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}
@keyframes load {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
