@import 'utils';

// responsive
@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

// grid
@mixin reservation-layout {
  .container {
    display: grid;
    // grid-template-rows: repeat(3, 33.33%);
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'header header header'
      '. main .'
      'footer footer footer';
    .header {
      grid-area: header;
    }
    .main {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: center;
      padding: 10rem 0 0 0;
      grid-area: main;
    }
    .footer {
      grid-area: footer;
    }
  }
}
