// font-weight
$light: 200;
$normal: 400;
$bold: 600;

// font-size
$very-small: 0.5rem;
$small: 0.9rem;
$medium: 1.4rem;
$medium-b: 1.8rem;
$big: 2rem;

// color
$black: black;
$white: white;
$gray: #9e9e9e;
$yellow: #f9de4b;
$purple: #3f1066;
$light-purple: #5e1985;
$medium-purple: #53157c;
$border-line: #7825ac;
$border-outer: #782fa4;
$inner-line: #9933db;
$box-gradient: 0 0 0 0.05rem $inner-line, 0 0 0 0.5rem $light-purple,
  -6px 13px 50px 3px rgba(0, 0, 0, 0.79),
  0px 0px 0.3rem 0.55rem rgba(60, 25, 95, 0.062);

// letter-spacing
$short: 0.3rem;
$wide: 2rem;

// header
$header-font-weight: $bold;
$header-font-size: $big;
$header-font-space: $short;
$header-padding: 1.5rem 0 2rem 0;

// content
$content-padding: 1rem 0 0 0;
$content-font-weight: $bold;

// formInput
$form-border-radius: 3rem;
$form-border-status: none;
