@import '../abstract/mixin';
@import '../abstract/utils';

* {
  font-family: 'Jua', sans-serif;
}

html,
body,
#root,
#root > div {
  overflow: hidden;
  height: 100%;
  background: $purple;
}

@include desktop {
  @include reservation-layout;
}
