@import '../abstract/mixin';
@import '../abstract/utils';

* {
  font-family: 'Jua', sans-serif;
}

html,
body,
#root,
#root > div {
  overflow: hidden;
  height: 100%;
  background: radial-gradient(
    circle,
    #8140b4,
    #5e2a8e,
    #3f1066,
    #310756,
    #300756
  );
}

@include desktop {
  @include reservation-layout;
}
