.forminput {
  @include breakpoint(xs) {
    width: 22rem;
  }
  @include breakpoint(md) {
    width: 24.5rem;
  }

  box-shadow: $box-gradient;
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 2rem 0.5rem 2rem 4rem;
  background: linear-gradient(to right, $light-purple, $medium-purple, $purple);
  border-radius: 0.1rem;
}
