.forminput {
  @include breakpoint(ss) {
    padding: 1rem 0.5rem 1rem 4rem;
    width: 13rem;
    left: 3rem;
  }
  @include breakpoint(xs) {
    padding: $form-input-padding;
    width: 18rem;
    left: 1rem;
  }
  @include breakpoint(md) {
    padding: $form-input-padding;
    width: 24.5rem;
    left: 0.5rem;
  }
  @include breakpoint(xl) {
    padding: $form-input-padding;
  }

  display: flex;
  justify-content: flex-start;
  position: relative;
  box-shadow: $box-gradient;
  padding: $form-input-padding;
  background: linear-gradient(to right, $light-purple, $medium-purple, $purple);
  border-radius: 0.1rem;
}
